* {
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}

:root {
  --Home-bg-color: var(--white);
  --Home-header-bg-color: var(--gray);
  --Home-header-changeButton-fontColor: var(--black);
  --Home-header-changeButton-fontColor-hover: #fff;
  --Home-header-changeButton-borderColor: var(--blue-drak);
  --Home-header-changeButton-borderColor-hover: var(--blue-drak);
  --Home-header-changeButton-bgColor-hover: var(--blue-drak);
  --black: #000;
  --white: #fff;
  --blue-drak: #1b5698;
  --gray: #a29e9e;
}


