* {
  margin: 0;
  padding: 0;
}

:root {
  --Home-bg-color:var(--black);
  --Home-header-bg-color: var(--black-soft);
  --Home-header-changeButton-fontColor: var(--white);
  --Home-header-changeButton-fontColor-hover: var(--white);
  --Home-header-changeButton-borderColor: var(--white);
  --Home-header-changeButton-borderColor-hover: var(--white);
  --Home-header-changeButton-bgColor-hover: var(--black);
  --white: #fff;
  --black: #000;
  --black-soft:rgb(79, 77, 77);
}

